@charset "UTF-8";

.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.navbar h2 {
    margin: 0;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}